@charset "UTF-8";
/* Importar otros archivos SCSS aquí */
/* Ejemplo: */
/* Estilos específicos para esta página */
body {
  font-family: Arial, sans-serif;
  color: #ffffff;
  background-color: #e53b0c; }
