/* Importar otros archivos SCSS aquí */
/* Ejemplo: */
@import 'variables';

/* Estilos específicos para esta página */
body {
  font-family: Arial, sans-serif;
  color: #ffffff;
  background-color: $color-primary;
}